RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(page/|model/|service/|utils/|config/|\.php) - [F,L,NC]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]